*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 60px;
}
.nav {
    margin: auto;
    color: white;
    background-color: rgba(4,3,60,100);
    text-align: center;
}
.nav a{
    text-decoration: none;
    color: rgb(249,233,222);
    font-size: 30px;
    margin-right: 65px;
}
.nav a:hover{
    color: beige;
    background: rgb(9,9,121);
    background: linear-gradient(180deg, rgba(9,9,121,1) 0%, rgba(4,3,60,1) 0%, rgba(0,212,255,1) 55%, rgba(2,0,36,1) 100%);
       box-shadow: rgb(9,9,121);
       background: linear-gradient(90deg, rgba(9,9,121,1) 0%, rgba(4,3,60,1) 0%, rgba(0,212,255,1) 55%, rgba(2,0,36,1) 100%);
 }
.picture{
    background-image: url(back1.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.heading{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 17vh;
    background: radial-gradient(780px at 37.8% 100.3%, rgb(19, 55, 115) 2.2%, rgb(32, 7, 80) 20.2%,  rgb(12, 51, 76) 96.1%);
    border: 2px solid white;
}
.one{
    width:30%
}
.picture img{
    height: 78vh;
    
}
.picture{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-right: 0;
    align-items: center;
    justify-content: center;
}
.picture-one{
    display: flex;
    flex-direction: row;
}
.picture-two{
    display: flex;
    flex-direction: row;
}